body {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
}
.container{
    background-color: #222020ad;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid darkgray;
    width: 30%;
    height: auto;
    border-radius: 1rem;
    min-width: 350px;
}
.container h1{
    margin-left: 1rem;
}
form select{width: 100%;margin: .5rem;}
footer div{
    align-content: center;
    margin: 1rem;
    background: rgb(112, 40, 40);
    border-radius: 1rem;
}
footer div:nth-child(2){
    background-color: #5542ce;
}
footer div:nth-child(3){
    background-color: #438f99;
}
footer div:nth-child(4){
    background-color: #8d347a;
}
footer div h2{
    color: #f1f1f1;
    padding: 1rem;
    text-transform: uppercase;
}



button{
    background-color: #0e0b22;
    color: #fff;
    padding: 0.6rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}
button:hover{
    cursor: pointer;
    background-color: #1e1d25;
}